body {
    display: flex;
    flex-direction: column;
    margin: 0;
    color: #4D2F25;
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 1.9rem;
}

h3 {
    font-size: 1.25rem;
}

h2, h3, h4, h5 {
    font-weight: 700;
    color: #78361F;
    font-family: "Lilita One", sans-serif;
    line-height: 1.25em;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4D2F25;
}

/* New Styles ----------- */

input[type="password"], input[type="text"], input[type="email"],input[type="tel"] {
    width: 97%;
    border: 5px solid;
    padding: 2px 0;
    font-size: 1.1em;
    font-weight: 700;
    border-radius: 0.5em;
    border-color: #4D2F25;
    color: #78361F;
    background-color: #CAF0FF;
    outline: #4D2F25;
    font-family: "Lilita One", sans-serif;
}

.lightBtn {
    width: 97%;
    border: 5px solid;
    padding: 2px;
    font-size: 1.1em;
    font-weight: 700;
    border-radius: 0.5em;
    border-color: #78361F;
    color: #78361F;
    background-color: #CAF0FF;
    margin: 2.5% auto;
    text-decoration: none;
    text-align: center;
    font-family: "Lilita One", sans-serif;
}

.darkBtn {
    width: 100%;
    border: 5px solid;
    padding: 2px;
    font-size: 1.1em;
    font-weight: 700;
    border-radius: 0.5em;
    border-color: #4D2F25;
    color: #fdfdfd;
    background-color: #4D2F25;
    margin: 2.5% auto;
    font-family: "Lilita One", sans-serif;
    text-align: center;
    text-decoration: none;
}

.card1 {
    width: 100%;
    background-color: #FFDEAD;
    display: flex;
}

.card2 {
    width: 100%;
    background-color: #CAF0FF;
    display: flex;
}

.card3 {
    width: 100%;
    background-color: #F3F3F3;
    display: flex;
}

.card4 {
    width: 100%;
    background-color: #fdfdfd;
    display: flex;
}

.card5 {
    width: 100%;
    background-color: #4D2F25;
    display: flex;
    color: #fdfdfd;
}

.card5 h1, .card5 h2, .card5 h3, .card5 h4, .card5 h5 {
    color: #fdfdfd
}

.right {
    width: 40%;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding-right: 2.5%;
}

.left {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5%;
}

.column {
    flex-direction: column;
}

.left img {
    width: 40%;
}

.inv {
    flex-direction: row-reverse;
}

.inv .left {
    width: 40%;
    flex-direction: row-reverse;
    text-align: right;
}

.inv .right {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5%;
}

.w {
    background-color: #fdfdfd;
    padding: 5%;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Tablet (portrait and landscape) ----------- */
 
@media (max-width: 1000px) {

}

/* Phone (portrait and landscape) ----------- */

@media (max-width: 730px) {
    h2 {
        line-height: 1;
    }

    .card1, .card2, .card3, .card4, .card5 {
        flex-direction: column;
    }

    .right {
        width: 80%;
        padding: 10%;
        padding: 0 10% 10% 10%;
    }

    .left {
        width: 80%;
        padding: 10%;
        justify-content: space-between;
    }


    .login {
        display: flex;
        align-items: center;
        align-content: flex-start;
        justify-content: flex-start;
        text-align: center;
        padding: 0;
        width: 100%;
        margin-bottom: 20px;
    }

    .login h2 {
        margin: 20px 0;
    }

    .left img {
        width: 30svw;
    }

    .inv .left {
        width: 80%;
        padding: 10%;
    }

    .inv .right {
        width: 80%;
        padding: 0 10% 10% 10%;
    }

    .w {
        padding: 10%;
    }
}
