<%- include('templates/header') %>
<%- include('templates/nav') %>

    <div>
        <h1>Completed Jobs</h1>
    </div>
    <section id="completedtedJobs">
      
        <% completedjobs.forEach((job)=> { %>
           <%- include('jobListing.ejs', {job: job, savedjobs:[''], save:false})%>
            <% }) %>
    </section>


<%- include('templates/footer') %>