<%- include('templates/header') %>
<%- include('templates/nav') %>
    <div class="card4">
    <div class="left column2">
        <h2>Completed Jobs</h2>
    </div>
    <section id="completedtedJobs">
      
        <% completedjobs.forEach((job)=> { %>
           <%- include('jobListing.ejs', {job: job, savedjobs:[''], save:false})%>
            <% }) %>
    </section>
    </div>


<%- include('templates/footer') %>