
<%- include('header') %>
<%- include('nav_gofer') %>
 
<section id="WelcomeSection">

<div class="card1">
    <div class="left column">
        <img src="/images/gofer-hello.png">
        <br>
        <br>
        <h3> Welcome <%=firstname%>!</h3>
    </div>
    <div class="right column">
        <a><button class="lightBtn">Portfolio</button></a>
        <br>
        <a href="/jobListings"><button class="lightBtn">Job Listings</button></a>
        <br>
        <a class="lightBtn"><button ">Saved jobs</button></a>
    </div>
 
</div>

</section>

<section id="acceptedJobs">
    <%# job.forEach((job) => { %>
        <%#- include('jobListing', {job: job})%>
    <%# }) %>
</section>


<section id="savedJobs">

</section>


<%- include('../templates/footer') %>