<%- include('header') %>
    <%- include('nav_gofer') %>



        <section id="jobListings">
            <h1 style="text-align: center;">Jobs Near you </h1>
            <% jobs.forEach((job)=> { %>
                <%- include('jobListing', {job: job, savedjobs:savedjobs, save: true})%>
                    <% }) %>
        </section>

        <dialog id="confirmationpopup">
            <div id="message">

            </div>
            <button id="confirmAccept">Accept</button>
            <button id="close"> Close </button>

        </dialog>


        <script>
    

            var showListing = document.querySelectorAll('.joblisting')

            var popups = document.querySelectorAll('.listingpopup')
            var closeBtns = document.querySelectorAll('.closeBtn')
            var dataBtns = document.querySelectorAll('.Btn');
            var acceptBtns = document.querySelectorAll('.acceptBtn');
            let confirmationpopup = document.getElementById('confirmationpopup');
           // Looping through all listings
            showListing.forEach((listing, i) => {
                let eachpopup = popups[i];
                let closeBtn = closeBtns[i];
                let eachBtn = dataBtns[i];
                let acceptBtn = acceptBtns[i];
                
                listing.addEventListener('click', () =>
                    eachpopup.showModal())
                
                closeBtn.addEventListener('click', () => {
                    eachpopup.close();
                });
                acceptBtn.addEventListener('click', () => {
                    var jobId = acceptBtn.value;


                    confirmationpopup.querySelector('#message').innerHTML += `Are you sure you want to accept this job `
                    confirmationpopup.showModal();
                    confirmationpopup.querySelector('#confirmAccept').addEventListener('click', () => {
                        fetch('/saveremoveacceptjob', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify({ acceptjob: true, jobid: jobId })
                        })
                        ; eachpopup.close(); confirmationpopup.close();  location.reload()
                    }
                    )

                    confirmationpopup.querySelector('#close').addEventListener('click', () => confirmationpopup.close())


                })

                eachBtn.addEventListener('click', () => {
                    var jobId = eachBtn.value;
                    if (eachBtn.classList.contains("saveBtn"))
                        {
                            fetch('/saveremoveacceptjob', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify({ saveJob: true , jobid : jobId})
                        })
                            .then(eachpopup.close());
                            location.reload()
                                
                              
                        }
                    else if (eachBtn.classList.contains("removeBtn"))
                    {
                        fetch('/saveremoveacceptjob', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify({ removeJob: true , jobid : jobId})
                        })
                                .then(eachpopup.close()); location.reload()
                
                               
                    }
            })
                    
          
            });   
                
            
        </script>