<%- include('templates/header') %>
<%- include('templates/nav') %>

<main>

<header style="text-align: center;">
    <h1>Accepted Tasks</h1>
</header>

<div class="columnContainer">
    <div id="AcceptedTasks"></div>

</main>

<script>
    const AcceptedTasks = document.getElementById('AcceptedTasks');

    function createCard(title, content) {
        const card = document.createElement('div');
        card.classList.add('card');

        const cardTitle = document.createElement('h2');
        cardTitle.textContent = title;

        const cardContent = document.createElement('p');
        cardContent.textContent = content;

        card.appendChild(cardTitle);
        card.appendChild(cardContent);

        return card;
    }

    const AcceptedCard1 = createCard('Accepted Task 1', 'LOTS OF THINGS TO DO!');
    const AcceptedCard2 = createCard('Accepted Task 2', 'LOTS OF MORE THINGS TO DO!');
    const AcceptedCard3 = createCard('Accepted Task 3', 'EVEN MORE THINGS TO DO!');

    AcceptedTasks.appendChild(AcceptedCard1);
    AcceptedTasks.appendChild(AcceptedCard2);
    AcceptedTasks.appendChild(AcceptedCard3);
</script>
<%- include('templates/footer') %>