<%- include('templates/header') %>
<%- include('templates/nav') %>
<body>
    <h1>Create Task</h1>
    <form class="card" id="createTaskForm" action="/createTask" method="POST">
        <div>
            <label for="title">Title:</label>
            <input class="form-text" type="text" id="title" name="title" required>
        </div>
        <label for="description">Description:</label>
        <div>
            <textarea class="form-text" id="description" name="description" required></textarea>
        </div>
        <div>
            <label for="dueDate">Due Date:</label>
            <input type="date" id="dueDate" name="dueDate" required>
        </div>
        <div>
            <label for="tools">Tools that may be required:</label>
            <div>
                <input type="radio" id="hammer" name="tool" value="hammer" required>
                <label for="hammer">Hammer</label>
            </div>
            <div>
                <input type="radio" id="screwdriver" name="tool" value="screwdriver" required>
                <label for="screwdriver">Screwdriver</label>
            </div>
            <div>
                <input type="radio" id="wrench" name="tool" value="wrench" required>
                <label for="wrench">Wrench</label>
            </div>
            <div>
                <input type="radio" id="pliers" name="tool" value="pliers" required>
                <label for="pliers">Pliers</label>
            </div>
            <div>
                <input type="radio" id="drill" name="tool" value="drill" required>
                <label for="drill">Drill</label>
            </div>
            <input class="form-text" type="text" id="title" name="title" required placeholder="Any other...">

            <!-- Add more tool types as needed -->
        </div>
        <button type="submit">Create Task</button>
    </form>
<%- include('templates/footer') %>
</body>