<%- include('templates/header') %>
<div class="card4 column" >
    <div class="left column">
        <h2>404 Error</h2>
    </div>
    <div class="right column">
        <a href="/main">
            <img style="width: 100%;" src="/images/gofer-logo.png" alt="Back to Home" />
            <h3 style="text-align: center;">Back to Home</h3>
           
        </a>
    </div>
</div>

