<div style="flex: auto ; flex-direction: column; justify-content: center;">
    <a href="/main" style="   padding: 0;
    border: #3c1c10;
    background: #A8DEF4;
    font-family: 'Lilita One, sans-serif';
    font-size: 1rem;
    border: solid;
    border-radius: 3px;
    padding: 3px;
    color: #78361F;
    justify-content: center;
    ">
        <img style="border-top-left-radius: 0.5rem; border-top-right-radius: 0.5rem; width: 300px;  " src="/images/gofer-logo.png" alt="" />
        Back to Home
    </a>
    <p>404 Error</p>

</div>