<%- include('templates/header') %>
<%- include('templates/nav') %>

<!-- Your Content Starts Here -->

<div class="card4 column" >
    <h1>Gofer Signup Complete</h1>
    <a href="/login" >
        <h2 style="text-align: center;">Login</h2>
    </a>

<!-- Your Content Ends Here -->

<%- include('templates/footer') %>