<%- include('templates/header') %>
<%- include('templates/nav') %>

<!-- Your Content Starts Here -->

<div class="card4 column" >
    <div class="left column">
        <h2>Gofer Signup Complete</h2>
        <br>
        <img src="/images/gofer-didit.png">
    </div>
    <div class="right">
        <a href="/login" >
            <h2>Login</h2>
        </a>
    </div>
    

<!-- Your Content Ends Here -->

<%- include('templates/footer') %>