<%- include('templates/header') %>

<body>
    <%- include('templates/nav') %>


    <div class="card1">
        <div class="left column login">
            <h2>Hire a Gofer</h2>
            <img src="/images/gofer-face-right.png" class="above">
        </div>
        <div class="right w column">
            <a class="lightBtn" href="/signup">Members Sign Up</a>
            <a class="lightBtn" href="button gofers-button">Gofers Sign Up</a>
            <a class="lightBtn" href="/login">Login</a>
        </div>
    </div>

    <div class="card2 inv">
        <div class="left">
            <h2>What<br>is a<br>Gofer?</h2>
            <img src="/images/gofer-hello.png">
        </div>
        <div class="right">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris rhoncus turpis sapien, eu fermentum nisi accumsan eu. Cras porttitor elementum massa, non egestas eros feugiat ac. Sed diam dolor, bibendum nec vulputate ut, varius tempus tellus.</p>
        </div>
    </div>

    <div class="card3">
    <div class="left">
        <div class="column">
            <h2>The Power<br>of AI</h2>
            <h3>in the palm<br>of your hands</h3>
        </div>
        <img src="/images/gofer-hello.png">
    </div>
    <div class="right">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris rhoncus turpis sapien, eu fermentum nisi accumsan eu. Cras porttitor elementum massa, non egestas eros feugiat ac. Sed diam dolor, bibendum nec vulputate ut, varius tempus tellus.</p>
    </div>
</div>
<%- include('templates/footer') %>