<%- include('templates/header') %>
<%- include('templates/nav') %>

    <div class="card1">
        <div class="left column login">
            <h2>Hire a Gofer</h2>
            <img src="/images/gofer-face-right.png" class="above">
        </div>
        <div class="right w column">
            <a class="lightBtn" href="/signup">Members Sign Up</a>
            <a class="lightBtn" href="button gofers-button">Gofers Sign Up</a>
            <a class="lightBtn" href="/login">Login</a>
        </div>
    </div>

    <div class="card2">
        <div class="left">
            <h2>What<br>is a<br>Gofer?</h2>
            <img src="/images/gofer-hello.png">
        </div>
        <div class="right">
            <p>Gofers are trusted local assistants who complete various tasks posted on the Gofer app. Vetted for qualifications and background-checked, they provide reliable help for chores, errands, and specialized jobs. Gofers bid on tasks, ensuring competitive pricing and high-quality service. Users rate Gofers after job completion, fostering a community of dependable and skilled helpers.</p>
        </div>
    </div>

    <div class="card3 inv">
        <div class="left">
            <div class="column">
                <h2>The Power<br>of AI</h2>
                <h3>in the palm<br>of your hands</h3>
            </div>
            <img src="/images/gofer-ai.png">
        </div>
        <div class="right">
            <p>The Gofer app's AI integrates with your smart home, monitoring daily activities to suggest helpful tasks. It securely recommends tasks on the app, which you must approve before posting, ensuring personalized assistance while maintaining your control and privacy.</p>
        </div>
    </div>

    <div class="card4">
        <div class="left column">
            <div class="column">
                <h2>Become a Gofer</h2>
            </div>
            <br><br><br><br>
            <a class="darkBtn" href="button gofers-button">Join Today!</a>
            <br><br>
        </div>
        <div class="right">
            <p>Becoming a Gofer offers flexible earning opportunities, competitive bidding for local tasks, and the chance to build a strong reputation through user ratings. Enjoy job variety and the satisfaction of helping your community, all while managing your own schedule.</p>
        </div>
    </div>
<%- include('templates/footer') %>