<%- include('templates/header') %>
<%- include('templates/nav') %>

    <div class="login-form">
        <h2>Members Login</h2>
        <form action="/login-handler" method="POST">

    
            <label for="username"><h3>Username:</h3></label>
            <input type="text" id="fullname" name="username" required>

        
    

    
            <label for="password"><h3>Password:</h3></label>
            <input type="password" id="password" name="password" required>
            <p><a href="/ResetPassword">Forgot Password?</a></p>
            <br>
            <button type="submit" class="darkBtn">Login</button>
        </form>
    </div>

    <div>
        <%= message %>
    </div>



<%- include('templates/footer') %>