<%- include('templates/header') %>

    <div class="login-form">
        <h2>Members Login</h2>
        <form action="/login-handler" method="POST">

    
            <label for="username">Username:</label>
            <input type="text" id="fullname" name="username" required>

        
    

    
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <div>
                <input type="radio" id="user" name="usertype" value="user" checked />
                <label for="User">User</label>
                <input type="radio" id="gofer" name="usertype" value="gofer" />
                <label for="Gofer">Gofer</label>
            </div>

    
            <button type="submit">Login</button>
        </form>
    </div>

    <div>
        <a href="/ResetPassword">Forgot Password?</a>
    </div>


    <div>
        <%= message %>
    </div>



    <%- include('templates/footer') %>