<%- include('templates/header') %>
<%- include('templates/nav') %>

    <div class="login-form">
        <h2>Members Login</h2>
        <form action="/login-handler" method="POST">

    
            <!-- <label for="username">Username:</label> -->
            <input type="text" id="fullname" name="username" placeholder="UserID" required>

        
    

    
            <!-- <label for="password">Password:</label> -->
            <input type="password" id="password" name="password" placeholder="Password" required>

    
            <button class="button" type="submit">Login</button>
        </form>
    </div>

    <div>
        <a href="/ResetPassword">Forgot Password?</a>
    </div>


    <div>
        <%= message %>
    </div>



    <%- include('templates/footer') %>