<%- include('templates/header') %>

<header >
    <h1>Welcome!</h1>
    <h2><%=username%></h2>
</header>

<!-- Urgent Tasks -->
<div>

</div>
<!-- Tasks in Progress -->
<div>

</div>
<!-- Recommended Tasks -->
<div>

</div>

<%- include('templates/footer') %>