<%- include('templates/header') %>
<%- include('templates/nav') %>
<main>

<header >
    <h1>Welcome!</h1>
    <h2><%=username%></h2>
</header>

<div class="ContainerLists">

    <!-- Urgent Tasks -->
    <h1>Urgent Tasks</h1>
    <div id="UrgentTasksCardContainer"></div>
    
    <!-- Tasks in Progress -->
    <h1>Tasks in Progress</h1>
    <div id="InProgressTasksCardContainer"></div>
    
    <!-- Recommended Tasks -->
    <h1>Recommended Tasks</h1>
    <div id="RecommendedTasksCardContainer"></div>
    
</div>



<div>
    <a href="/logout">Logout</a>
</div>



<script src="../scripts/main.js"></script>

</main>
<%- include('templates/footer') %>