<%- include('templates/header') %>

<header >
    <h1>Welcome!</h1>
    <h2><%= username %></h2>
</header>

<!-- Urgent Tasks -->
<div>
    <h1>Urgent Tasks</h1>
    
    <!-- Lists of Urgent Tasks -->
    <div>


    </div>
</div>

<!-- Tasks in Progress -->
<div>
    <h1>Tasks in Progress</h1>

    <!-- Lists of Tasks in Progress -->
    <div>

    </div>
</div>

<!-- Recommended Tasks -->
<div>
    <h1>Recommended Tasks</h1>

    <!-- Lists of Recommended Tasks -->
    <div>

    </div>
</div>



<div>
    <a href="/logout">Logout</a>
</div>



<%- include('templates/footer') %>