<%- include('templates/header') %>

    <%- include('templates/nav') %>

        <!-- Your Content Starts Here -->
        <h2>Pending Tasks</h2>


        <!-- Your Content Ends Here -->

        <%- include('templates/footer') %>

<script>
    // task = '<%= task %>'
    // console.log('task',task)
</script>