<%- include('templates/header') %>
<%- include('templates/nav') %>

    <div class="">
        <h2>Reset Password</h2>
        <form action="/reset-password-handler" method="POST">


            <label for="username">Username:</label>
            <input type="text" id="" name="username" required>

            <label for="secret_pin">Seceret Pin:</label>
            <input type="password" id="" name="secret_pin" required>

            <label for="password">New Password:</label>
            <input type="password" id="" name="password" required>


            <button type="submit">Reset</button>
        </form>
    </div>

  

    <div>
        <%= message %>
    </div>



<%- include('templates/footer') %>