<%- include('templates/header') %>
<%- include('templates/nav') %>

    <div class="">
        <h2>Reset Password</h2>

        <p>Enter your username, secret pin and new password</p>
        <form action="/reset-password-handler" method="POST">


            <!-- <label for="username">Username:</label> -->
            <input type="text" id="" name="username" placeholder="Username" required>

            <!-- <label for="secret_pin">Seceret Pin:</label> -->
            <input type="password" id="" name="secret_pin" placeholder="Seceret Pin" required>

            <!-- <label for="password">New Password:</label> -->
            <input type="password" id="" name="password" placeholder="New Password" required>


            <button class="button" type="submit">Reset</button>
        </form>
    </div>

  

    <div>
        <%= message %>
    </div>



    <%- include('templates/footer') %>