<%- include('templates/header') %>
<%- include('templates/nav') %>

    <div class="card4">
        <div class="left">
            <h2>Reset Password</h2>
        </div>
        <div class="right column">
            <p>Enter your username, secret pin and new password</p>
            <br>
            <form action="/reset-password-handler" method="POST">
    
    
                <!-- <label for="username">Username:</label> -->
                <input type="text" id="" name="username" placeholder="Username" required>
                <br>
                <!-- <label for="secret_pin">Seceret Pin:</label> -->
                <input type="password" id="" name="secret_pin" placeholder="Seceret Pin" required>
                <br>
                <!-- <label for="password">New Password:</label> -->
                <input type="password" id="" name="password" placeholder="New Password" required>
                <br>
    
                <button class="darkBtn" type="submit">Reset</button>
            </form>
        </div>
        
    </div>

  

    <div>
        <%= message %>
    </div>
<%- include('templates/footer') %>