<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD

<%- include('templates/header.ejs') %>

<body>

    <% if(true){ %>
        <h1>foo</h1>
    <% } else{ %>  
        <h1>bar</h1>
     <% } %>
     
<%- include('templates/nav_out.ejs') %>
=======
    <%- include('templates/header_files')
<body>
>>>>>>> Nav-Bars
    
</body>
</html>