<div id="footer-comment">Welcome User!</div>
<div id="footer-content">
    <div id="footer-left"><img src="/images/gofer-logo.png"></div>
    <div id="footer-right">
        <div>
            <h3>Site Links</h3>
            <a href="/" class="link">Home</a>
            <a href="/about" class="link">About</a>
            <a href="/goferSignup" class="link">Apply</a>
            <a href="/profile" class="link">Profile</a>
            <a href="/login" class="link">Log Out</a>
        </div>
        <div>
            <h3>Member Links</h3>
            <a href="/goferSignup" class="link">Become&nbsp;a&nbsp;Gofer</a>
            <!-- <a href="/history" class="link">History</a> -->
            <a href="/tasks" class="link">All&nbsp;Tasks</a>
            <a href="/recommend" class="link">Recommended&nbsp;Tasks</a>
        </div>
    </div>
</div>