<div id="footer-comment">Welcome Gofer!</div>
<div id="footer-content">
    <div id="footer-left"><img src="images/gofer-logo.png"></div>
    <div id="footer-right">
        <div>
            <h3>Site Links</h3>
            <a href="/" class="link">Home</a>
            <a href="/about" class="link">About</a>
            <a href="/gofer" class="link">Apply</a>
            <a href="/login" class="link">Log Out</a>
        </div>
        <div>
            <h3>Member Links</h3>
            <a href="/profile" class="link">Profile</a>
            <a href="/history" class="link">History</a>
            <a href="/progress" class="link">In&nbsp;Progress</a>
            <a href="/recomend" class="link">Recomended</a>
        </div>
        <div>
            <h3>Gofer Links</h3>
            <a href="/profile" class="links">Profile</a>
            <a href="/complete" class="links">Completed&nbsp;Jobs</a>
            <a href="/jobs" class="links">My&nbsp;Jobs</a>
            <a href="/find" class="links">Jobs&nbsp;Board</a>
        </div>
    </div>
</div>