<div id="footer-comment">Welcome Gofer!</div>
<div id="footer-content">
    <div id="footer-left"><img src="/images/gofer-logo.png"></div>
    <div id="footer-right">
        <div>
            <h3>Site Links</h3>
            <a href="/" class="link">Home</a>
            <a href="/about" class="link">About</a>
            <a href="/login" class="link">Log Out</a>
        </div>
        <div>
            <h3>Member Links</h3>
            <a href="/tasks" class="links">All&nbsp;Tasks</a>
            <a href="/recommend" class="links">Recomended&nbsp;Tasks</a>
        </div>
        <div>
            <h3>Gofer Links</h3>
            <a href="/logout" class="links">Log&nbsp;Out</a>
            <a href="/complete" class="links">Completed&nbsp;Jobs</a>
            <a href="/savedJobs" class="links">My&nbsp;Jobs</a>
            <a href="/jobListings" class="links">Job&nbsp;Listings</a>
        </div>
    </div>
</div>