<div id="footer-comment">Join Gofer Today!</div>
<div id="footer-content">
    <div id="footer-left"><img src="images/gofer-logo.png"></div>
    <div id="footer-right">
        <div>
            <h3>Site Links</h3>
            <a href="/" class="link">Home</a>
            <a href="/about" class="link">About</a>
            <a href="/gofer" class="link">Apply</a>
            <a href="/signup" class="link">Membership</a>
            <a href="/login" class="link">Login</a>
        </div>
    </div>
</div>