<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GOFER</title>
    <!-- Fonts-->
        <%- include('/header_files/fonts.ejs') %>
    <!-- StyleSheets -->
        <%- include('/header_files/css.ejs') %>
    <!-- Icons -->
        <%- include('header_files/icons.ejs') %>
    <!-- JavaScript -->
        <%- include('/header_files/js_frontend_files.ejs') %>
</head>
