<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

        <%- include('header_files/fonts.ejs') %>
    
        <%- include('header_files/css.ejs') %>

        <%- include('header_files/icons.ejs') %>

        <%- include('header_files/js_frontend_files.ejs') %>

</head>
<body>
