<nav class="top">
    <div class="company">
      <img src="/images/gofer-hello.png">
      <h1>Gofer</h1>
    </div>
    <div class="top-links">
      <a href="/gofer">Become&nbsp;a&nbsp;Gofer</a>
      <a href="/logout">Logout</a>
      <a href="/profile">Profile</a>
      <a href="/history">History</a>
      <a href="/pending">Pending</a>
<<<<<<< HEAD
      <a href="/recommendedTask">Recomended&nbsp;Tasks</a>
=======
      <a href="/recommend">Recommended&nbsp;Tasks</a>
>>>>>>> fea0f18 (Minor speeling changes to recommendtasks)
      <a href="/main">Home</a>
    </div>
    <div class="dropdown" data-dropdown>
        <div class="dropdown" data-dropdown>
            <button class="link" data-dropdown-button>
            <i id="menuBtn" class="material-icons">
                menu
            </i>
            </button>
            <div class="dropdown-menu">
                <a href="/gofer" class="link">Become&nbsp;a&nbsp;Gofer</a>
                <a href="/logout" class="link">Logout</a>
                <a href="/profile" class="link">Profile</a>
                <a href="/history" class="link">History</a>
                <a href="/pending" class="link">Pending</a>
<<<<<<< HEAD
                <a href="/recommendedTask" class="link">Recomended&nbsp;Tasks</a>
=======
                <a href="/recommend" class="link">Recommended&nbsp;Tasks</a>
>>>>>>> fea0f18 (Minor speeling changes to recommendtasks)
                <a href="/main" class="link">Home</a>
            </div>
        </div>
    </div>
</nav>