<nav class="top">
    <div class="company">
      <img src="images/gofer-hello.png">
      <h1>Gofer</h1>
    </div>
    <div class="top-links">
      <a href="#">Become&nbsp;a&nbsp;Gofer</a>
      <a href="#">Logout</a>
      <a href="#">Profile</a>
      <a href="#">History</a>
      <a href="#">In&nbsp;Progress</a>
      <a href="#">Recomended&nbsp;Tasks</a>
      <a href="#">Home</a>
    </div>
    <div class="dropdown" data-dropdown>
        <div class="dropdown" data-dropdown>
            <button class="link" data-dropdown-button>
            <i id="menuBtn" class="material-icons">
                menu
            </i>
            </button>
            <div class="dropdown-menu">
                <a href="#" class="link">Become&nbsp;a&nbsp;Gofer</a>
                <a href="#" class="link">Logout</a>
                <a href="#" class="link">Profile</a>
                <a href="#" class="link">History</a>
                <a href="#" class="link">In&nbsp;Progress</a>
                <a href="#" class="link">Recomended&nbsp;Tasks</a>
                <a href="#" class="link">Home</a>
            </div>
        </div>
    </div>
</nav>