<nav class="top">
    <div class="company">
      <img src="../images/gofer-hello.png">
      <h1>Gofer</h1>
    </div>
    <div class="top-links">
      <div id="userLinks">
        <button onclick="activateGofer()">
          Gofer&nbsp;Mode
        </button>
        <a href="#">Log&nbsp;Out</a>
        <a href="#">Profile</a>
        <a href="#">History</a>
        <a href="#">In&nbsp;Progress</a>
        <a href="#">Recomended&nbsp;Tasks</a>
        <a href="#">Home</a>
      </div>

      <div id="goferLinks">
        <button onclick="activateUser()">
          Task&nbsp;Mode
        </button>
        <a href="#">Log&nbsp;Out</a>
        <a href="#">Profile</a>
        <a href="#">Completed&nbsp;Jobs</a>
        <a href="#">My&nbsp;Jobs</a>
        <a href="#">Jobs&nbsp;Board</a>
        <a href="#">Home</a>
      </div>
    </div>

    <div class="dropdown" data-dropdown>
        <div class="dropdown" data-dropdown>
            <button class="link" data-dropdown-button>
            <i id="menuBtn" class="material-icons">
                menu
            </i>
            </button>
            <div class="dropdown-menu">
                <div id="userMobile">
                    <button onclick="activateGofer()">
                        Gofer&nbsp;Mode
                    </button>
                    <a href="#" class="links">Log&nbsp;Out</a>
                    <a href="#" class="links">Profile</a>
                    <a href="#" class="links">History</a>
                    <a href="#" class="links">In&nbsp;Progress</a>
                    <a href="#" class="links">Recomended&nbsp;Tasks</a>
                    <a href="#" class="links">Home</a>
                </div>
        
                <div id="goferMobile">
                    <button onclick="activateUser()">
                        Task&nbsp;Mode
                    </button>
                    <a href="#" class="links">Log&nbsp;Out</a>
                    <a href="#" class="links">Profile</a>
                    <a href="#" class="links">Completed&nbsp;Jobs</a>
                    <a href="#" class="links">My&nbsp;Jobs</a>
                    <a href="#" class="links">Jobs&nbsp;Board</a>
                    <a href="#" class="links">Home</a>
                </div>
            </div>
        </div>
    </div>
</nav>