<nav class="top">
    <div class="company">
      <a href="/">
          <img src="/images/gofer-hello.png">
        </a>
        <a href="/">
            <h1>Gofer</h1>
        </a>
    </div>
    <div class="top-links">
      <a href="/login">Login</a>
      <a href="/about">About&nbsp;Us</a>
      <a href="/goferSignup">Become&nbsp;a&nbsp;Gofer</a>
      <a href="/signup">Become&nbsp;a&nbsp;Member</a>
    </div>
    <div class="dropdown" data-dropdown>
        <div class="dropdown" data-dropdown>
            <button class="link" data-dropdown-button>
                <i id="menuBtn" class="material-icons">
                    menu
                </i>
            </button>
            <div class="dropdown-menu">
                <a href="/login" class="link">Login</a>
                <a href="/about" class="link">About&nbsp;Us</a>
                <a href="/goferSignup" class="link">Become&nbsp;a&nbsp;Gofer</a>
                <a href="/signup" class="link">Become&nbsp;a&nbsp;Member</a>
            </div>
        </div>
    </div>
</nav>