<nav class="top">
    <div class="company">
      <img src="/images/gofer-hello.png">
      <h1>Gofer</h1>
    </div>
    <div class="top-links">
      <a href="/goferSignup">Become&nbsp;a&nbsp;Gofer</a>
      <a href="/logout">Logout</a>
      <a href="/profile">Profile</a>
      <!-- <a href="/history">History</a> -->
      <a href="/tasks">All&nbsp;Tasks</a>
      <a href="/recommend">Recommended&nbsp;Tasks</a>
      <a href="/main">Home</a>
    </div>
    <div class="dropdown" data-dropdown>
        <div class="dropdown" data-dropdown>
            <button class="link" data-dropdown-button>
            <i id="menuBtn" class="material-icons">
                menu
            </i>
            </button>
            <div class="dropdown-menu">
                <a href="/goferSignup" class="link">Become&nbsp;a&nbsp;Gofer</a>
                <a href="/logout" class="link">Logout</a>
                <a href="/profile" class="link">Profile</a>
                <!-- <a href="/history" class="link">History</a> -->
                <a href="/tasks" class="link">All&nbsp;Tasks</a>
                <a href="/recommend" class="link">Recommended&nbsp;Tasks</a>
                <a href="/main" class="link">Home</a>
            </div>
        </div>
    </div>
</nav>